{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
</head>
<body>
    <h1>{{subjudul}}</h1>
    <h2>Homenya Blog didalam template local app nya blog</h2>
    <img style = 'width : 100%'src="{%static 'blog/img/banner_blog.png'%}" alt="">
    <ul>
        <li><a href="/blog">blog</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blog/recent">recent</a></li> <! -- perlu diingat bahwa url ini adalah anak atau sub url dari app blog sehingga aturan link pada href html nya adalah '/blog/recent' atau "/blog/recent/" -->
    </ul>
</body>
</html>