<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halo ini adalah Recent</title>
</head>
<body>
    <h1>ini adalah Recent dari template app nya blog</h1>
    <ul>
        <li><a href="/blog">blog</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blog/recent/url/">url</a></li>
        <li><a href="/blog/recent/">recent</a></li> <! -- perlu diingat bahwa url ini adalah anak atau sub url dari app blog sehingga aturan link pada href html nya adalah '/blog/recent' atau "/blog/recent/" -->
    </ul>
</body>
</html>