{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static app_css%}">
    <link rel="stylesheet" href="{% static app_css2%}">  <!-- karakteristik css ini adalah akan menimpa css style sebelumnya jika ditemukan double style -->
    <link rel="stylesheet" href="{%static 'vendor/bootstrap/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static app_css3%}">
    
</head>
<body>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-body-tertiary" id="myNav">
            
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img style="height: 30px;" src="{%static 'img/logo.png'%}" alt="">
                </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/recent/">Recent</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 

<div class="container">
    <nav>
        <ul>
            <li><a href="..">Home</a></li>
            <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog/recent/">Recent</a></li> <! -- perlu diingat bahwa url ini adalah anak atau sub url dari app blog sehingga aturan link pada href html nya adalah '/blog/recent' atau "/blog/recent/" -->
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>


        <h1>{{subjudul}}</h1>
        <p>website ini dibuat menggunakan django</p>
        {% comment %} <img style='width: 100%;' src="{{img}}" alt=""> {% endcomment %}
        <img id='banner' src="{%static img%}" alt="">



        <div  class="container-fluid">
            <div  class="container bg-white text-white text-dark shadow" style="margin-top: 100px;">
                <div class="row" style="height:400px">
                <h1>Content 1</h1></div>
            </div>
        </div>
        <div  class="container-fluid">
            <div  class="container bg-dark text-white text-dark shadow" style="margin-top: 100px;">
                <div class="row" style="height:400px">
                <h1>Content 2</h1></div>
            </div>
        </div>
        <div  class="container-fluid">
            <div  class="container bg-white text-white text-dark shadow" style="margin-top: 100px;">
                <div class="row" style="height:400px">
                <h1>Content 3</h1></div>
            </div>
        </div>
        <div  class="container-fluid">
            <div  class="container bg-dark text-white text-dark shadow" style="margin-top: 100px;">
                <div class="row" style="height:400px">
                <h1>Content 4</h1></div>
            </div>
        </div>
    </div>
    <script src="vendor/jquery/jquery.js"></script> <!-- setting ini didapatkan setelah konfigurasi bootstrap-nya -->
    <script src="vendor/popper/popper.js"></script> <!-- setting ini didapatkan setelah konfigurasi bootstrap-nya -->
    <script src="{%static 'vendor/bootstrap/bootstrap.js' %}"></script> <!-- setting ini didapatkan setelah konfigurasi bootstrap-nya -->
    <script src="{%static 'js/scrolling.js'%}" ></script>
</body>
</html>